.AI-agents-hero {
    background-color: #0D1229;
    width: 100%;
    height: 41.25rem;
}

.AI-agents-hero .container {
    height: 100%;
}

.AI-agents-hero .container .row {
    height: 100%;
}

.AI-agents-hero .content {
    width: 50%;
}

.AI-agents-hero .content h1 {
    color: white;
}

.AI-agents-hero .img-container {
    width: 50%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AI-agents-hero .img-container img {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
}

.AI-agents-hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AI-agents-hero .content .title-section,
.AI-agents-hero .content span {
    text-align: start;
}

.AI-agents-hero .content .title-bold {
    font-weight: 700;
}

.AI-agents-hero .content p {
    color: white;
    font-size: 1.125rem;
    max-width: 580px;
}