.animation_tabs {
    height: 2.75rem;
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;

}

.animation_tabs .card {
    height: 2.75rem;
    width: auto;
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #FFD732;
    z-index: 0;
}

.animation_tabs .items_container {
    height: 2.75rem;
    width: fit-content;
    display: flex;
    position: absolute;
    z-index: 1;
}

.animation_tabs .items_container .item {
    height: 2.75rem;
    width: max-content;
    padding: 0 1rem;
    background-color: aqua;
}