@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('assets/fonts/inter-tight/InterTight-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Inter Tight';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('assets/fonts/inter-tight/InterTight-Italic-VariableFont_wght.ttf') format('truetype-variations');
}

body {
    background-color: gray !important;
    height: 200vw;
    font-family: 'Inter Tight', sans-serif;
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}