body {
    background-color: transparent !important;
    font-family: 'Inter Tight Regular', sans-serif !important;
    position: relative;
    z-index: 0;
    padding-top: 4.25rem;
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
    padding: 0;
    border: 0;
}

//title section h1 forn 
.title-section {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.75rem;
    text-align: center;
}

//xuống dòng = span
.br-line {
    display: block;
}