body {
    background-color: transparent !important;
    font-family: 'Inter Tight Regular', sans-serif;
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
    padding: 0;
    border: 0;
}