.home-page {
    .section-banner {
        padding: 80px 0;
        background: linear-gradient(180deg, #FFFFFF 29.81%, #FFD730 100%);

        .section-title {
            font-size: 40px;
            font-weight: var(--font-weight-semibold);
            text-align: center;
            margin: 0;
            display: block;
            width: 100%;
            line-height: normal;

            span {
                color: var(--color-text-secondary);
            }
        }

        .tour-guide {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 72px;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .section-together {
        padding: 72px 0;

        .section-title {
            font-size: 26px;
            font-weight: var(--font-weight-medium);
            text-align: center;
            margin: 0;
            display: block;
            width: 100%;
        }

        .section-numbers {
            margin: 52px auto;
            max-width: 893px;
            width: 100%;

            .item {
                position: relative;

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background: #F2F0E9;
                    right: -50%;
                }
            }
        }

        .list-number {
            max-width: 1062px;
            width: 100%;
            margin: auto;
            border-radius: 12px;
            overflow: hidden;
            border: 4px solid #004C38;
            padding: 40px 0;
            background: url('../1OfficeNext/assets/images/home/bgr-together.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .title-list-number {
                font-size: 26px;
                font-weight: var(--font-weight-medium);
                color: #fff;
                text-align: center;
                width: 100%;
                display: block;
            }

            .box-numbers {
                margin-top: 40px;
                display: flex;
                flex-wrap: wrap;
                row-gap: 52px;
                padding: 44px 0 0;

                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    align-items: center;
                    width: 25%;

                    .number {
                        font-size: 28px;
                        font-weight: var(--font-weight-bold);
                        color: #FFD730;
                        line-height: 20px;
                    }

                    .title {
                        color: #fff;
                        font-size: 14px;
                        line-height: 10px;
                    }
                }
            }
        }
    }

    .section-solution {
        background-color: #004C38;
        padding: 72px 0;
        color: #fff;

        .section-title {
            text-align: center;
            max-width: 727px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .title {
                font-size: 40px;
                font-weight: var(--font-weight-semibold);
            }

            .desc {
                font-size: 18px;
                font-weight: var(--font-weight-medium);
            }
        }

        .list-solution {
            display: flex;
            gap: 24px;
            margin-top: 70px;

            .item {
                display: flex;
                flex-direction: column;
                gap: 40px;
                flex: 1;
                position: relative;

                .thumb {
                    border-radius: 20px;
                    overflow: hidden;
                    background: #000;
                    flex-basis: 300px;
                    padding: 10px;
                    border: 1px solid #fff;

                    img {
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                        width: 100%;
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    padding: 0 11px;

                    .tag {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 8px 12px;
                        border-radius: 4px;
                        font-size: 12px;
                        font-weight: var(--font-weight-semibold);
                        text-transform: uppercase;
                        color: #fff;
                        width: max-content;
                        height: 26px;
                    }

                    .brain {
                        background-color: #F0500A;
                    }

                    .goal {
                        background-color: #3581FF;
                    }

                    .heart {
                        background-color: #15C872;
                    }

                    .title {
                        font-size: 36px;
                        font-weight: var(--font-weight-bold);
                        margin: 20px 0 32px 0;
                    }

                    .desc {
                        margin-bottom: 40px;
                        text-align: justify;
                    }

                    .see-more {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        color: #fff;
                        transition: all .5s;
                        text-decoration: none;

                        span {
                            font-weight: var(--font-weight-bold);
                            text-transform: uppercase;
                        }

                        &:hover {
                            gap: 12px;
                        }
                    }
                }
            }
        }
    }

    .section-ai-agent {
        padding: 72px 0;

        .section-title {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .title {
                font-size: 40px;
                font-weight: var(--font-weight-semibold);
            }

            .desc {
                font-size: 26px;
            }
        }

        .list-agents {
            margin-top: 70px;
            margin-bottom: 43px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .center-point {
                fill: #2F6FFF;
                animation: pulse 1.2s infinite ease-in-out;
            }
        }
    }

    .section-nocode {
        background: #F2F0E9;
        padding: 72px 0;

        .section-title {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .title {
                font-size: 40px;
                font-weight: var(--font-weight-semibold);
            }

            .desc {
                font-size: 26px;
            }
        }

        .nocode-tab {
            margin: 72px 0;
            display: flex;
            gap: 63px;

            .nocode-nav {
                display: flex;
                flex-direction: column;
                flex-basis: 463px;
                flex-shrink: 0;
                justify-content: space-between;
                gap: 8px;

                .nav-link {
                    display: flex;
                    padding: 24px 20px;
                    cursor: pointer;
                    transition: all .5s;
                    gap: 10px;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 100%;
                        background: #0a4b31;
                    }

                    .icon {
                        width: 24px;
                        height: 24px;
                    }

                    &.active {
                        &::before {
                            width: 4px;
                        }

                        .content {
                            .desc {
                                height: 50px;
                                margin-top: 26px;
                            }
                        }

                        box-shadow: 0px 0px 40px 0px rgba(255, 215, 48, 0.12);
                        background: #fff;
                        border-radius: 0 16px 16px 0;
                    }

                    .content {
                        display: flex;
                        flex-direction: column;

                        .title {
                            font-size: 24px;
                            font-weight: var(--font-weight-semibold);
                            color: var(--color-text);
                            text-align: left;
                        }

                        .desc {
                            color: var(--color-text-secondary);
                            font-weight: var(--font-weight-medium);
                            transition: all .5s;
                            height: 0;
                            text-align: left;
                            margin-top: 0;
                            overflow: hidden;
                        }
                    }
                }
            }

            .nocode-content {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;

                .tab-pane {
                    .thumb {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        position: relative;

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                            animation: fadeIn .5s ease-in-out;
                        }

                        @keyframes fadeIn {
                            from {
                                opacity: 0.5;
                            }

                            to {
                                opacity: 1;
                            }
                        }
                    }
                }

            }
        }
    }

    .section-value {
        background: #fff;

        .photo-collage {
            display: grid;
            grid-template-columns: ~"repeat(16, 1fr)";
            grid-template-rows: ~"repeat(3, 1fr)";
            grid-gap: 4px;
            padding: 4px;
            overflow: hidden;

            .item {
                overflow: hidden;
                border-radius: 4px;

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(1);
                    will-change: transform;
                    backface-visibility: hidden;
                    transition: transform .5s ease;
                }
            }

            .item-1 {
                grid-area: ~"1 / 1 / 2 / 6";
            }

            .item-2 {
                grid-area: ~"1 / 6 / 2 / 9";
            }

            .item-3 {
                grid-area: ~"1 / 9 / 2 / 12";
            }

            .item-4 {
                grid-area: ~"1 / 12 / 2 / 14";
            }

            .item-5 {
                grid-area: ~"1 / 14 / 2 / 17";
            }

            .item-6 {
                grid-area: ~"2 / 1 / 3 / 4";
            }

            .item-7 {
                grid-area: ~"2 / 4 / 3 / 8";
            }

            .item-8 {
                grid-area: ~"2 / 8 / 3 / 10";
            }

            .item-9 {
                grid-area: ~"2 / 10 / 3 / 15";
            }

            .item-10 {
                grid-area: ~"2 / 15 / 3 / 17";
            }

            .item-11 {
                grid-area: ~"3 / 1 / 4 / 6";
            }

            .item-12 {
                grid-area: ~"3 / 6 / 4 / 8";
            }

            .item-13 {
                grid-area: ~"3 / 8 / 4 / 12";
            }

            .item-14 {
                grid-area: ~"3 / 12 / 4 / 17";
            }
        }

        .btn-action {
            background: #3581FF;
            border: 1px solid #3581FF;

            &::after {
                background: #154faf;
            }
        }

        .value-company {
            background: #fff;
            margin: -72px auto 0 auto;
            left: 0;
            right: 0;
            max-width: 100%;
            padding: 72px 40px;
            position: relative;
            border-radius: 8px;
            border: 1px solid rgba(237, 239, 239, 1);
            box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.06);

            .list-values {
                display: flex;
                gap: 52px;
                margin-top: 52px;
                margin-bottom: 76px;
            }

            .section-title {
                width: 416px;
                margin: 0 auto;
                max-width: 100%;
                display: flex;
                text-align: center;
                font-size: 36px;
                line-height: normal;
            }

            .box-value {
                display: flex;
                flex-direction: column;
                gap: 36px;

                .icon {
                    height: 64px;
                    display: flex;
                    align-items: center;

                    img {
                        height: 100%;
                    }
                }

                .title {
                    font-size: 24px;
                    font-weight: var(--font-weight-semibold);
                }

                .content {
                    color: var(--color-text-secondary);
                    line-height: 24px;
                    text-align: justify;
                    line-height: 28px;
                    word-spacing: -1px;

                    b {
                        color: var(--color-text);
                    }
                }
            }
        }
    }

    .section-logo-customer {
        margin: 72px 0;
    }

    .section-automation {
        padding: 72px 0;
        background: #004C38;

        .section-title {
            display: flex;
            flex-direction: column;
            gap: 32px;
            color: #fff;
            text-align: center;

            .title {
                font-size: 40px;
                font-weight: var(--font-weight-semibold);
            }

            .desc {
                font-size: 26px;
            }
        }

        .process {
            margin-top: 72px;
            padding: 0 40px;

            img {
                width: 100%;
            }
        }
    }

    .section-module {
        padding: 72px 0;
        background: #F2F0E9;

        .section-title {
            font-size: 40px;
            font-weight: var(--font-weight-semibold);
        }

        .module-tab {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            gap: 60px;

            height: 100%;
            padding: 0;
            align-items: unset;
            background: transparent;

            .module-nav {
                padding: 10px;
                border-radius: 12px;
                border: 1px solid #DFDDD8;
                display: flex;
                align-items: center;
                gap: 12px;
                background: #fff;
                max-width: 1009px;
                width: 100%;

                .nav-link {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    border-radius: 8px;
                    transition: all .5s;
                    padding: 11px 20px;
                    max-height: 44px;
                    height: 100%;
                    position: relative;
                    background: transparent;
                    z-index: 1;

                    &.active {
                        // background: #FFD730;
                    }

                    .icon {
                        width: 18px;
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .label {
                        font-size: 16px;
                        font-weight: var(--font-weight-semibold);
                        color: var(--color-text);
                    }
                }

            }

            .module-item {
                display: flex;
                gap: 77px;
                align-items: center;

                .thumb {
                    box-shadow: 0px 0px 40px -2px rgba(255, 215, 48, 0.24);
                    border-radius: 8px;
                    border: 1px solid #DFDFD3;
                    flex-basis: 737px;
                    flex-shrink: 0;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }

                .btn-action {
                    margin: unset;
                }

                .content {
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-size: 28px;
                        font-weight: var(--font-weight-semibold);
                        line-height: normal;
                    }

                    .desc {
                        margin: 32px 0 40px 0;
                        color: var(--color-text-secondary);
                        font-weight: var(--font-weight-medium);
                    }
                }

                .list-module {
                    margin-top: 48px;
                    display: flex;
                    row-gap: 28px;
                    flex-wrap: wrap;

                    .item {
                        display: flex;
                        width: 20%;
                        gap: 12px;
                        align-items: center;
                        flex-direction: column;

                        &:hover {
                            .icon {
                                img {
                                    transform: scale(1.2);
                                }
                            }
                        }

                        .icon {
                            width: 50px;
                            height: 50px;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #DFDFD3;

                            img {
                                width: 26px;
                                height: 26px;
                                object-fit: cover;
                                transition: all .5s;
                            }
                        }

                        .label {
                            font-size: 12px;
                            font-weight: var(--font-weight-medium);
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }

}