.nocode-page{

    .nocode-hero{
        background-image: url(assets/images/nocode_hero_bg.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .col-12{
            padding: 4.25rem 0 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title-section{
                font-size: 2.5rem;
                line-height: 3.5rem;
                margin: -0.5rem 0;
                margin-bottom: 2.5rem;
                text-align: center;
            }
            .sub-title-section{
                font-size: 1.125rem;
                line-height: 1.5rem;
                margin: 0;
                text-align: center;
            }
            .dk-chat-ai{
                margin: 3.25rem 0 3.75rem;
            }
            .video-container{
                position: relative;
                width: fit-content;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    max-width: 63.25rem;
                    height: auto;
                }
                button{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                    width: 5.5rem;
                    height: 5.5rem;
                    border-radius: 50%;
                    background-color: rgba(43, 45, 51, 0.239);
                    backdrop-filter: blur(4px);
                    -webkit-backdrop-filter: blur(4px);
                    img{
                        width: 2.5rem;
                        height: auto;
                    }
                }
            }

        }
        
    }

    .nocode-visao{
        background-image: url(assets/images/nocode_visao_bg.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .col-12{
            width: 100%;
            padding: 5rem 0;
            .title-section{
                color: #fff;
            }
            .content-container{
                width: 100%;
                display: flex;
                align-items: center;
                gap: 4.625rem;
                margin-top: 3.75rem;
                
                .content{
                    width: 36.625rem;
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    gap: 2.5rem;
                    .item{
                        display: flex;
                        gap: 1.5rem;
                        img{
                            width: 2.5rem;
                            height: 2.5rem;
                        }
                        > div{
                            display: flex;
                            flex-direction: column;
                            width: 31.125rem;
                            gap:1.75rem;
                            h3{
                                font-size: 1.5rem;
                                line-height: 1rem;
                                margin: 0;
                            }
                            p{
                                font-size: 1rem;
                                line-height: 1.75rem;
                                margin: -0.5rem 0;
                            }
                        }
                    }
                }
                img{
                    flex: 1;
                    min-width: 0;
                    width: 0; /* Force flex child to shrink */
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }

    .nocode-tuduy{
        background-color: #F3F8FD;
        .col-12{
            padding: 5rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .tabs-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .animation-tabs{
                    padding:0.25rem;
                    border-radius: 0.5rem;
                    background-color: #fff;
                    height: fit-content;
                    .card{
                        background-color: ;
                    }
                    .items-container{
                        height: fit-content;
                        .item{
                            padding: 0.75rem 2.25rem;
                            border-radius: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    .nocode-phuhop{
        
    }

    .nocode-lamchu{
        
    }



}