.tuyendung-page{

    .tuyendung-hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F5F4EC;
        .container-custom.top{
            background-image: url(assets/images/tuyendung_hero_bg.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            @media screen and (max-width: 1539px) {
                padding-left: max(0px, calc((100% - 80rem) / 2));
                padding-right: max(0px, calc((100% - 80rem) / 2));
            }
            @media screen and (max-width: 1399px) {
                padding-left: max(0px, calc((100% - 60rem) / 2));
                padding-right: max(0px, calc((100% - 60rem) / 2));
            }
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 4.25rem;
            .col{
                width: 96.375rem;
                @media screen and (max-width: 1539px) {
                    width: 80rem;
                }
                @media screen and (max-width: 1399px) {
                    width: 60rem;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                .title-section{
                    font-size: 2.5rem;
                    line-height: 3.5rem;
                    margin: -0.5rem 0;
                    margin-bottom: 1.75rem;
                    color: #fff;
                    text-align: center;
                }
                .sub-title-section{
                    font-size: 1.125rem;
                    line-height: 1.875rem;
                    margin: -0.375rem 0;
                    color: #fff;
                }
                .dk-chat-ai{
                    margin-bottom: 3.625rem;
                    margin-top: 3.25rem;
                }
                img{
                    width: 100%;
                    height: auto;
                }
            }  
        }
        .col-12{
            padding-top: 4.25rem;
            width: 100%;
            
            
            .content{
                box-shadow: 0 0 20px rgba(0,0,0,0.1);
                width: 100%;
                background-color: #fff;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                border-bottom: 1px solid #EDEFEF;

                .item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1.5rem;
                    padding: 2.5rem 0;
                    .title-section{
                        font-size: 2.5rem;
                        line-height: 2.5rem;
                        color: #2B2D33;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .sub-title-section{
                        font-size: 0.875rem;
                        line-height: 0.875rem;
                        color: #676D78;
                    }
                }
            }
            .run-bar{
                height: 8.75rem;
                width: 100%;
                overflow: hidden;
                display: flex;
                justify-content: start;
                align-items: center;
                background-color: #fff;
                .demo-img{
                    height: 5.25rem;
                    width: auto;
                    flex-shrink: 0;
                    animation: runLeft 20s linear infinite;
                }
            }
        }
    }

    .tuyendung-tuconghoa {
        padding: 4.25rem 0 0;
        background-color: #F5F4EC;

        .title-section {
            color: #2B2D33;
        }

        .box-content {
            margin-top: 3.25rem;
            display: flex;
            border: 8px solid #4C2CC0;

            @media (max-width: 991px) {
                flex-direction: column;
            }

            .left, .right{
                width: 50%;
                padding-left: 6.71875%;
                padding-top: 2.5rem;
                display: flex;
                flex-direction: column;
                h2 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 2.25rem;
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 1.625rem;

                    .item {
                        display: flex;
                        gap: 0.625rem;
                        align-items: center;

                        p {
                            font-size: 1rem;
                            line-height: 1.625rem;
                            margin: -0.3125rem 0;
                        }
                    }
                }
            }

            .left {
                background: #fff;

                h2{
                    color: #676D78;
                }
                .content {
                    .item {
                        height: 1rem;
                        img {
                            width: 1rem;
                            height: 1rem;
                        }
                        p {
                            color: #676D78;
                        }
                    }
                }
                > img {
                    margin: 0;
                    margin-top: 2.25rem;
                    height: 13.125rem;
                    width: fit-content;
                }
            }

            .right {
                background-color: #4C2CC0;
                h2 {
                    color: #fff;
                }
                .content {
                    .item {
                        height: 1.25rem;
                        img {
                            width: 1.25rem;
                            height: 1.25rem;
                        }
                        p {
                            color: #fff;
                        }
                    }
                }
                > img {
                    margin: 0;
                    margin-top: 2.25rem;
                    height: 11.75rem;
                    width: fit-content;
                    
                }
            }
        }
    }

    .tuyendung-quanly{
        padding: 4.25rem 0;
        background-color: #F5F4EC;

        .col-12{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3.25rem;
            .tabs-wrapper{
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
            }
            .animation-tabs {
                padding: 0;
                .items-container{
                    background-color: #fff;
                    .item{
                        gap: 0.5rem;
                        padding: 1rem 2rem;
                        font-size: 1rem;
                        font-weight: 600;
                        color: #676D78;
                        position: relative;
                        transition: color 0.5s ease-in-out;
                        height: fit-content;


                        &.active{
                            color: #2B2D33;

                            &:after{
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 0;
                                height: 2px;
                                background-color: #4C2CC0;
                                animation: progressTabs 7s ease-out;
                            }
                        }
                    }
                }
            }


            .animation-tabs-content{
                .panels-container{
                    padding: 3.25rem 0 0;
                    .tab-pane{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        transition: all 0.5s ease-out;

                        &.up{
                            img{
                                transform: scale(1);
                            }
                        }

                        > img{
                            box-shadow: 0 0 20px rgba(0,0,0,0.1);
                            width: 60%;
                            transform: scale(0.8);
                            transform-origin: bottom;
                            transition: all 0.5s ease-out;
                        }
                        .box-content{
                            display: flex;
                            flex-direction: column;
                            gap: 2.25rem;
                            width: 40%;
                            h2{
                                font-size: 1.5rem;
                                font-weight: 600;
                                line-height: 2.5rem;
                                margin: -0.5rem 0;
                            }
                            .content{
                                display: flex;
                                flex-direction: column;
                                gap: 1.75rem;

                                .item{
                                    display: flex;
                                    gap: 0.75rem;
                                    align-items: start;
                                    img{
                                        width: 1.125rem;
                                        height: 1.125rem;
                                    }
                                    p{
                                        color: #676D78;
                                        font-size: 1rem;
                                        line-height: 1.75rem;
                                        margin: -0.375rem 0;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
            
            
        }
    }

    .tuyendung-thongminh {
        padding: 4.5rem 0;
        background-image: url(assets/images/tuyendung_hero_bg.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .col-12 {
            display: flex;
            align-items: center;
            justify-content: space-between;

            > img {
                width: 55.625%;
                height: auto;
                @media (max-width: 1399px) {
                    width: 50%;
                }
            }

            > .content {    
                width: 31rem;
                display: flex;
                flex-direction: column;
                gap: 3rem;

                .title-section {
                    color: #fff;
                    text-align: start;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 1.75rem;

                    .item {
                        display: flex;
                        align-items: center;
                        height: 1.125rem;
                        gap: 0.75rem;

                        img {
                            width: 1.125rem;
                            height: 1.125rem;
                        }

                        p {
                            font-size: 1rem;
                            line-height: 1.75rem;
                            color: #fff;
                            font-weight: 500;
                            margin: 0;
                            span {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    .tuyendung-hethong {
        padding: 4.25rem 0;
        background-color: #F5F4EC;
        border-bottom: 1px solid #E3E6E7;

        .col-12 {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title-section {
                text-align: center;
                margin-bottom: 2.125rem;
                color: #2B2D33;
            }

            img {
                margin-top: 3.75rem;
                width: 75.625%;
                height: auto;
            }
        }
    }

    .tintuong-slider{
        background-color: #F5F4EC;
        .dot{
            background-color: #D1D1D1;
        }
    }
}